style.css

body {
    color: #fff;
    background-color: #95D6A4;
}

.stButton>button {
    color: #95D6A4;
    border-radius: 70%;
    background: #95D6A4;
}

.stTextInput>div>div>input {
    color: #95D6A4;
}
